* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.list {
  width: 500px;
  margin-right: 100px;
}

.fileName {
  float: left;
}

.size {
  float: right;
}

.l1 {
  border-bottom: 1px solid;
  padding: 2px;
  background-color: rgb(237, 237, 237);
}

.l2 {
  border-bottom: 1px solid;
  padding: 2px;
  background-color: rgb(237, 237, 237);
}

ul {
  display: inline;
}